body {
  background-color: #bbe4e9;
  font-family: "Roboto", sans-serif;
}
a {
  color: #53a8b6;
}
.box {
  background: #e1f6f4;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 15px 20px 10px 20px;
}
form {
  padding: 10px;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #048998;
  padding: 15px 25px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

main {
  padding: 30px 0;
}
.city {
  margin: 0;

  font-size: 30px;
  line-height: 5px;
  color: #07588a;
}
.data {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 20px;
}
.container {
  color: #142d4c;
}
.temperature {
  display: flex;

  margin-bottom: 20px;
}

.details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.details strong {
  color: #f65282;
}

.icon {
  font-size: 100px;
  margin-top: 22px;
  text-align: center;
}

.temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.unit {
  margin-top: 16px;
  font-size: 28px;
}
strong {
  color: #5e63b6;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-min-temperature {
  padding: 0 10px;
}
.weather-forecast-max-temperature {
  padding: 0 10px;
}

.weather-forecast-min-temperature {
  color: #048998;
}
footer {
  border-top: 1px solid #dbd8e2;
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
